In [94]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeRegressor

In [95]:
data  = pd.read_csv(r'C:\Users\Aditya\OneDrive - Manipal Academy of Higher Education\Desktop\SP\Manas\Datasets\linear_regression_dataset.csv')

In [96]:
data.head()

   AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0   17       1    2   1.0    2660     560
1   17       0    2   1.0    1689     753
2   17       1    7   1.0   20060     930
3   17       1    1   1.0     736     758
4   17       1    1   1.0    1194     754

In [97]:
df =data.fillna(value=data['RACE'].mean())

In [98]:
df.isnull().sum()

AGE       0
FEMALE    0
LOS       0
RACE      0
TOTCHG    0
APRDRG    0
dtype: int64

In [99]:
df.columns

Index(['AGE', 'FEMALE', 'LOS', 'RACE', 'TOTCHG', 'APRDRG'], dtype='object')

In [100]:
X = df[['AGE', 'FEMALE', 'LOS', 'RACE','APRDRG']]
y = df['TOTCHG']

In [101]:
X_train , X_test, y_train , y_test = train_test_split(X,y , test_size=0.2,random_state=101)

In [102]:
X_train= X_train.values.reshape(-1,1)
y_train= y_train.values.reshape(-1,1)
X_test= X_test.values.reshape(-1,1)
y_test= y_test.values.reshape(-1,1)

In [104]:
regressor = DecisionTreeRegressor()
regressor.fit(X_test,y)

DecisionTreeRegressor()

In [126]:
y_pred = regressor.predict(X_test.reshape(-1,1))

In [131]:
y_pred.shape

(500,)

In [132]:
X_test.shape

(500, 1)

In [133]:
df = pd.DataFrame({'Real Values':X_test.reshape(-1), 'Predicted Values':y_pred.reshape(-1)})
df

     Real Values  Predicted Values
0           15.0       4701.200000
1            1.0       2931.550296
2            3.0       3655.272727
3            1.0       2931.550296
4          753.0       1833.900000
..           ...               ...
495          5.0      11521.600000
496          0.0       2306.538462
497          3.0       3655.272727
498          1.0       2931.550296
499         53.0       4931.000000

[500 rows x 2 columns]